.main-ayuda{
    .titulo-preguntas{
        text-align: center;
        padding: 20px;
    }
    .accordion{
        padding-left: 30px;
        padding-right: 30px;
    }

    h2{
        text-align: center;
    }

    p{
        padding: 30px;
        text-align: center;
        font-size: 18px;
    }
}