/*footer*/
.footer{
    padding: 20px;
    background-color: $blanco;

    .telefono{
        width: 100px;
        height: 100px;
    }
    .instagram{
        width: 50px;
        height: 50px;
    }
    .facebook{
        width: 40px;
        height: 40px;
    }
      
}